---
layout: default
---

<a href="https://open.spotify.com/artist/3sVJptULbEr2diAt2ud4EA?si=zUWWcFOiSiSe-hfN8rSc0w">
  <p style="text-align:center;"><img src="/assets/spotify.png" alt="spotify"></p>
</a>

<a href="https://music.apple.com/us/artist/dylan-elliott/1216047102">
  <p style="text-align:center;"><img src="/assets/applemusic.png" alt="applemusic"></p>
</a>

<a href="https://soundcloud.com/poweredup">
  <p style="text-align:center;"><img src="/assets/soundcloud.png" alt="soundcloud"></p>
</a>

<a href="https://virtualworldrecords.bandcamp.com/album/vwl-one">
  <p style="text-align:center;"><img src="/assets/bandcamp.png" alt="bandcamp"></p>
</a>

<a href="https://audiomack.com/dylanelliott-1">
  <p style="text-align:center;"><img src="/assets/audiomack.png" alt="audiomack"></p>
</a>

<a href="https://www.youtube.com/channel/UCyzfBYdVm6slFN08J5etCpg">
  <p style="text-align:center;"><img src="/assets/youtube.png" alt="youtube"></p>
</a>