---
layout: default
---
<a href="https://www.youtube.com/channel/UCyzfBYdVm6slFN08J5etCpg">
  <p style="text-align:center;"><img src="/assets/ytvid.png" alt="youtube-link"></p>
</a>
<a href="https://www.bitchute.com/channel/dylanelliott/">
  <p style="text-align:center;"><img src="/assets/btutevid.png" alt="b-shoot"></p>
</a>

<h2>Shot by Dylan Elliott</h2>
<a href="https://www.youtube.com/watch?v=5ipg6hi295I">
  <p style="text-align:center;"><img src="/assets/33handl.png" alt="33-life-highs"></p>
</a>

<a href="https://www.youtube.com/watch?v=ZwSh9amDyzs">
  <p style="text-align:center;"><img src="/assets/33blood.png" alt="33-life-blood"></p>
</a>
<a href="https://www.youtube.com/watch?v=qdnrDzSVHjE">
  <p style="text-align:center;"><img src="/assets/33food.png" alt="33-food"></p>
</a>

<h2>Directed/Edited by Dylan Elliott</h2>

<a href="https://www.youtube.com/watch?v=O6js0KN7yRc">
  <p style="text-align:center;"><img src="/assets/btyellow.png" alt="bt-yellow"></p>
</a> 

<a href="https://www.youtube.com/watch?v=6L3YJHa5kCU">
  <p style="text-align:center;"><img src="/assets/corppi.png" alt="corp-pi"></p>
</a>
